body {
    font-family: 'Gilroy', 'Noto Sans KR', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2em;
    letter-spacing: normal;
	color: #333;
}

.blind {
    position: absolute;
    width: 1px; height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}
.title {
    padding-left: 16px;
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #333;
}
.bold {
    font-weight: 700;
}
.dp-no {
    display: none;
}
.gnb-area button::after,
.mypage-area a {
    background: url(../images/sprites.png) no-repeat;
    background-size: 100px auto;
}

a.disable {
    pointer-events: none;
	cursor: default;
}


.txt-box {
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    padding: 15px 0 0 5%;
}
.txt-box .review {
    font-weight: 600;
    color: #8e1f29;
}
.txt-box .link-item {
    display: block;
    padding: 10px 0;
}
.txt-box .price {
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
}
.txt-box .price .discount {
    margin-right: 5px;
    color: #8e1f29;
}
.txt-box .price .line-through {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
    color: #8d8d8d;
}
.txt-box .color {
    font-size: 13px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: -0.05em;
    padding-top: 9px;
    color: #999;
}
.txt-box .color::after {
    content: '컬러';
    margin-left: 2px;
}